/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2014, 12:50:27 PM
    Author     : Ben
*/
body{
    background-color: #ffffff;
    
}
#wrapper{
    width: 900px;
    height: auto;
    margin: 0px auto;
    //border: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius:  15px;
   border-bottom-left-radius:  15px;
}

#header{
    //border: 1px solid blue;
    height:150px;
    background-color: #e5e882;
    border-bottom: 2px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius:  15px;

}

#sidebar{
    width: 200px;
    
    margin-right: 700px;
    //background-color: #95c740;
    
}

#mainContent{
    width: 660px;
    //border: 1px solid green;
    float:right;
    padding: 20px;
    background-color: #e5e882
    
    
}

#nav li{
    
    margin: 5px 0px;
}

td,tr, th{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tr.item, td.item{
    border: none;
    border-bottom: 1px solid black;
}

tr.no-border, td.no-border{
    border: none;
}

.text-align-right{
    text-align: right;
}

table{
    width: 100%;
}

td input{
    width:100%;
}


#footer{
    height: 50px;
    clear:both;
    //border: 1px solid blue;
    background-color: #e5e882;
    border-top: 2px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:  15px;
}

#footer p{
    //float: left;
    
    //border: 1px solid blue;
    text-align: center;

}

img.half-size{
    height: 25%;
    width: 25%;
}

img.book-thumbnail{
    width: 160px;
    height: 160px;
}


