<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBookTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBookLabel_bookId}" for="bookId" />
                    <h:inputText id="bookId" value="#{bookController.selected.bookId}" title="#{bundle.CreateBookTitle_bookId}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookId}"/>
                    <h:outputLabel value="#{bundle.CreateBookLabel_bookName}" for="bookName" />
                    <h:inputText id="bookName" value="#{bookController.selected.bookName}" title="#{bundle.CreateBookTitle_bookName}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookName}"/>
                    <h:outputLabel value="#{bundle.CreateBookLabel_bookAuthor}" for="bookAuthor" />
                    <h:inputText id="bookAuthor" value="#{bookController.selected.bookAuthor}" title="#{bundle.CreateBookTitle_bookAuthor}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookAuthor}"/>
                    <h:outputLabel value="#{bundle.CreateBookLabel_bookPrice}" for="bookPrice" />
                    <h:inputText id="bookPrice" value="#{bookController.selected.bookPrice}" title="#{bundle.CreateBookTitle_bookPrice}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookPrice}"/>
                    <h:outputLabel value="#{bundle.CreateBookLabel_bookImageUrl}" for="bookImageUrl" />
                    <h:inputText id="bookImageUrl" value="#{bookController.selected.bookImageUrl}" title="#{bundle.CreateBookTitle_bookImageUrl}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookImageUrl}"/>
                    <h:outputLabel value="#{bundle.CreateBookLabel_bookDescription}" for="bookDescription" />
                    <h:inputText id="bookDescription" value="#{bookController.selected.bookDescription}" title="#{bundle.CreateBookTitle_bookDescription}" required="true" requiredMessage="#{bundle.CreateBookRequiredMessage_bookDescription}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bookController.create}" value="#{bundle.CreateBookSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{bookController.prepareList}" value="#{bundle.CreateBookShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBookIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
