<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditBookTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditBookLabel_bookId}" for="bookId" />
                    <h:inputText id="bookId" value="#{bookController.selected.bookId}" title="#{bundle.EditBookTitle_bookId}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookId}"/>
                    <h:outputLabel value="#{bundle.EditBookLabel_bookName}" for="bookName" />
                    <h:inputText id="bookName" value="#{bookController.selected.bookName}" title="#{bundle.EditBookTitle_bookName}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookName}"/>
                    <h:outputLabel value="#{bundle.EditBookLabel_bookAuthor}" for="bookAuthor" />
                    <h:inputText id="bookAuthor" value="#{bookController.selected.bookAuthor}" title="#{bundle.EditBookTitle_bookAuthor}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookAuthor}"/>
                    <h:outputLabel value="#{bundle.EditBookLabel_bookPrice}" for="bookPrice" />
                    <h:inputText id="bookPrice" value="#{bookController.selected.bookPrice}" title="#{bundle.EditBookTitle_bookPrice}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookPrice}"/>
                    <h:outputLabel value="#{bundle.EditBookLabel_bookImageUrl}" for="bookImageUrl" />
                    <h:inputText id="bookImageUrl" value="#{bookController.selected.bookImageUrl}" title="#{bundle.EditBookTitle_bookImageUrl}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookImageUrl}"/>
                    <h:outputLabel value="#{bundle.EditBookLabel_bookDescription}" for="bookDescription" />
                    <h:inputText id="bookDescription" value="#{bookController.selected.bookDescription}" title="#{bundle.EditBookTitle_bookDescription}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookDescription}"/>
                </h:panelGrid>
                <h:commandLink action="#{bookController.update}" value="#{bundle.EditBookSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditBookViewLink}"/>
                <br />
                <h:commandLink action="#{bookController.prepareList}" value="#{bundle.EditBookShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditBookIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
