<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBookTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBookEmpty}" rendered="#{bookController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{bookController.items.rowCount > 0}">
                    <h:outputText value="#{bookController.pagination.pageFirstItem + 1}..#{bookController.pagination.pageLastItem + 1}/#{bookController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{bookController.previous}" value="#{bundle.Previous} #{bookController.pagination.pageSize}" rendered="#{bookController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{bookController.next}" value="#{bundle.Next} #{bookController.pagination.pageSize}" rendered="#{bookController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{bookController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookId}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookName}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookAuthor}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookAuthor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookPrice}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookImageUrl}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookImageUrl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookTitle_bookDescription}"/>
                            </f:facet>
                            <h:outputText value="#{item.bookDescription}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{bookController.prepareView}" value="#{bundle.ListBookViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{bookController.prepareEdit}" value="#{bundle.ListBookEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{bookController.destroy}" value="#{bundle.ListBookDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{bookController.prepareCreate}" value="#{bundle.ListBookCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListBookIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
