<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">

        <h:form id="form">
            <p:growl showDetail="true" showSummary="false" id="feedbackGrowl" life="1000"/>
            <p:dataTable  id="booksTable" var="book" value="#{bookController.books}" paginator="true" rows="10" 
                         paginatorAlwaysVisible="false" rowSelectMode="add"  
                         style="width: 75%;" selection="#{bookController.selectedBooks}" rowKey="#{book.bookId}" 
                         filteredValue="#{bookController.filteredBooks}"
                         widgetVar="booksTable">
                
                <f:facet name="header">
                    <p:outputPanel>

                        <h:outputText value="Search all fields"/>
                        <h:inputText id="globalFilter" onkeyup="booksTable.filter()"/>

                    </p:outputPanel>

                </f:facet>
                


                <p:column selectionMode="multiple" />

                <p:column headerText="Book Image">
                    <p:graphicImage styleClass="book-thumbnail" value="#{book.bookImageUrl}"/>
                </p:column>
                <p:column filterBy="bookName" filterStyle="display:none" filterMatchMode="contains" headerText="Book name">
                    <p:outputLabel value="#{book.bookName}"/>
                </p:column>
                <p:column filterBy="bookAuthor" filterStyle="display:none" headerText="Book Author">
                    <p:outputLabel value="#{book.bookAuthor}"/>
                </p:column>
                <p:column filterBy="bookPrice" filterStyle="display:none" filterMatchMode="exact" headerText="Book Price">
                    <p:outputLabel value="#{book.bookPrice}">
                        <f:convertNumber type="currency"/>
                    </p:outputLabel>
                </p:column>
                <f:facet name="footer">  
                    <p:commandButton id="viewButtonBottom" value="Add Selected Books to Cart" icon="ui-icon-plusthick"  
                                     update=":form:feedbackGrowl :form:booksTable" action="#{bookController.processAddToCart()}">
                        <f:setPropertyActionListener target="#{cartController.booksInCart}" value="#{bookController.selectedBooks}"/>
                        <f:actionListener binding="#{cartController.initializeOrderItems()}" />
                    </p:commandButton>
                </f:facet>
                

            </p:dataTable>
        </h:form>



    </ui:define>
</ui:composition>

