<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBookTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBookLabel_bookId}"/>
                    <h:outputText value="#{bookController.selected.bookId}" title="#{bundle.ViewBookTitle_bookId}"/>
                    <h:outputText value="#{bundle.ViewBookLabel_bookName}"/>
                    <h:outputText value="#{bookController.selected.bookName}" title="#{bundle.ViewBookTitle_bookName}"/>
                    <h:outputText value="#{bundle.ViewBookLabel_bookAuthor}"/>
                    <h:outputText value="#{bookController.selected.bookAuthor}" title="#{bundle.ViewBookTitle_bookAuthor}"/>
                    <h:outputText value="#{bundle.ViewBookLabel_bookPrice}"/>
                    <h:outputText value="#{bookController.selected.bookPrice}" title="#{bundle.ViewBookTitle_bookPrice}"/>
                    <h:outputText value="#{bundle.ViewBookLabel_bookImageUrl}"/>
                    <h:outputText value="#{bookController.selected.bookImageUrl}" title="#{bundle.ViewBookTitle_bookImageUrl}"/>
                    <h:outputText value="#{bundle.ViewBookLabel_bookDescription}"/>
                    <h:outputText value="#{bookController.selected.bookDescription}" title="#{bundle.ViewBookTitle_bookDescription}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{bookController.destroyAndView}" value="#{bundle.ViewBookDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBookEditLink}"/>
                <br />
                <h:commandLink action="#{bookController.prepareCreate}" value="#{bundle.ViewBookCreateLink}" />
                <br />
                <h:commandLink action="#{bookController.prepareList}" value="#{bundle.ViewBookShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBookIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
