<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOrdersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOrdersLabel_orderId}" for="orderId" />
                    <h:inputText id="orderId" value="#{ordersController.selected.orderId}" title="#{bundle.EditOrdersTitle_orderId}" required="true" requiredMessage="#{bundle.EditOrdersRequiredMessage_orderId}"/>
                    <h:outputLabel value="#{bundle.EditOrdersLabel_customerId}" for="customerId" />
                    <h:inputText id="customerId" value="#{ordersController.selected.customerId}" title="#{bundle.EditOrdersTitle_customerId}" />
                    <h:outputLabel value="#{bundle.EditOrdersLabel_orderDate}" for="orderDate" />
                    <h:inputText id="orderDate" value="#{ordersController.selected.orderDate}" title="#{bundle.EditOrdersTitle_orderDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{ordersController.update}" value="#{bundle.EditOrdersSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOrdersViewLink}"/>
                <br />
                <h:commandLink action="#{ordersController.prepareList}" value="#{bundle.EditOrdersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOrdersIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
