<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListOrdersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListOrdersEmpty}" rendered="#{ordersController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ordersController.items.rowCount > 0}">
                    <h:outputText value="#{ordersController.pagination.pageFirstItem + 1}..#{ordersController.pagination.pageLastItem + 1}/#{ordersController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ordersController.previous}" value="#{bundle.Previous} #{ordersController.pagination.pageSize}" rendered="#{ordersController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ordersController.next}" value="#{bundle.Next} #{ordersController.pagination.pageSize}" rendered="#{ordersController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ordersController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersTitle_orderId}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersTitle_customerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.customerId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOrdersTitle_orderDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ordersController.prepareView}" value="#{bundle.ListOrdersViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ordersController.prepareEdit}" value="#{bundle.ListOrdersEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ordersController.destroy}" value="#{bundle.ListOrdersDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ordersController.prepareCreate}" value="#{bundle.ListOrdersCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListOrdersIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
