<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOrdersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOrdersLabel_orderId}"/>
                    <h:outputText value="#{ordersController.selected.orderId}" title="#{bundle.ViewOrdersTitle_orderId}"/>
                    <h:outputText value="#{bundle.ViewOrdersLabel_customerId}"/>
                    <h:outputText value="#{ordersController.selected.customerId}" title="#{bundle.ViewOrdersTitle_customerId}"/>
                    <h:outputText value="#{bundle.ViewOrdersLabel_orderDate}"/>
                    <h:outputText value="#{ordersController.selected.orderDate}" title="#{bundle.ViewOrdersTitle_orderDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ordersController.destroyAndView}" value="#{bundle.ViewOrdersDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewOrdersEditLink}"/>
                <br />
                <h:commandLink action="#{ordersController.prepareCreate}" value="#{bundle.ViewOrdersCreateLink}" />
                <br />
                <h:commandLink action="#{ordersController.prepareList}" value="#{bundle.ViewOrdersShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewOrdersIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
