<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOrderItemsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOrderItemsLabel_orderItemsPK_orderItemId}" for="orderItemsPK_orderItemId" />
                    <h:inputText id="orderItemsPK_orderItemId" value="#{orderItemsController.selected.orderItemsPK.orderItemId}" title="#{bundle.EditOrderItemsTitle_orderItemsPK_orderItemId}" required="true" requiredMessage="#{bundle.EditOrderItemsRequiredMessage_orderItemsPK_orderItemId}"/>
                    <h:outputLabel value="#{bundle.EditOrderItemsLabel_bookId}" for="bookId" />
                    <h:inputText id="bookId" value="#{orderItemsController.selected.bookId}" title="#{bundle.EditOrderItemsTitle_bookId}" required="true" requiredMessage="#{bundle.EditOrderItemsRequiredMessage_bookId}"/>
                    <h:outputLabel value="#{bundle.EditOrderItemsLabel_quantity}" for="quantity" />
                    <h:inputText id="quantity" value="#{orderItemsController.selected.quantity}" title="#{bundle.EditOrderItemsTitle_quantity}" />
                    <h:outputLabel value="#{bundle.EditOrderItemsLabel_orders}" for="orders" />
                    <h:selectOneMenu id="orders" value="#{orderItemsController.selected.orders}" title="#{bundle.EditOrderItemsTitle_orders}" required="true" requiredMessage="#{bundle.EditOrderItemsRequiredMessage_orders}">
                        <f:selectItems value="#{ordersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{orderItemsController.update}" value="#{bundle.EditOrderItemsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOrderItemsViewLink}"/>
                <br />
                <h:commandLink action="#{orderItemsController.prepareList}" value="#{bundle.EditOrderItemsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOrderItemsIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
