<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                >


    <ui:define name="content">

        <h:form id="bookMaintenance">
            <p:dialog header="Add a Book" widgetVar="dlg" height="400" width="800" position="400,0" >

                <p:scrollPanel>
                    <p:panelGrid columns="1">
                        <p:outputLabel value="Book Title"/>
                        <p:inputText value="#{bookController.bookToAdd.bookName}" style="width: 200px"/>
                        <p:outputLabel value="Book Author"/>
                        <p:inputText value="#{bookController.bookToAdd.bookAuthor}"/>
                        <p:outputLabel value="Book Price"/>
                        <p:inputText value="#{bookController.bookToAdd.bookPrice}"/>
                        <p:outputLabel value="Book Image URL"/>
                        <p:inputText value="#{bookController.bookToAdd.bookImageUrl}"/>
                        <p:outputLabel value="Book Description"/>
                        <p:inputTextarea value="#{bookController.bookToAdd.bookDescription}" autoResize="true" rows="10" style="width: 100%" />

                    </p:panelGrid>
                    
                    <p:commandButton value="Save" image="ui-icon-circle-plus" action="#{bookController.addBook()}" update=":bookMaintenance" />
                    <p:commandButton value="Cancel" type="button" image="ui-icon-circle-close" onclick="PF('dlg').hide()" />
                    
                </p:scrollPanel>

            </p:dialog>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    <p:commandButton value="Show" type="button" image="ui-icon-circle-plus" onclick="PF('dlg').show()" />
                    <p:commandButton value="Hide" type="button" image="ui-icon-circle-close" onclick="PF('dlg').hide()" />

                    <p:separator />
                    <p:commandButton type="push" title="Save" image="ui-icon-disk"/>
                    <p:commandButton type="push" title="Delete" image="ui-icon-trash"/>
                    <p:commandButton type="push" title="Print" image="ui-icon-print"/>
                </p:toolbarGroup>
                <p:separator />
                <p:toolbarGroup align="right">
                    <p:menuButton value="Navigate">
                        <p:menuitem value="Home" url="#" />
                        <p:menuitem value="Logout" url="#" />
                    </p:menuButton>
                </p:toolbarGroup>
            </p:toolbar>

            <p:dataTable var="book" value="#{bookController.books}" rowKey="#{book.bookId}" widgetVar="bookTable">
                <p:column headerText="Title" filterBy="bookName" filterMatchMode="contains">
                    <p:outputLabel value="#{book.bookName}" />
                </p:column>
                <p:column headerText="Author" filterBy="bookAuthor" filterMatchMode="contains">
                    <p:outputLabel value="#{book.bookAuthor}" />
                </p:column>
                
                <p:column headerText="Price" filterBy="bookPrice" filterMatchMode="contains">
                    <p:outputLabel value="#{book.bookPrice}" />
                </p:column>
                
            </p:dataTable>

        </h:form>
    </ui:define>



</ui:composition>
