<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <h:outputStylesheet name="./css/site.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <p:layout fullPage="true" >
            <p:layoutUnit position="north" size="100">
                <ui:insert name="header">
                    <ui:include src="/testHeader.xhtml" />
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit position="west" size="200">
                <ui:insert name="nav">
                    <ui:include src="/nav.xhtml"/>
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit position="center" style="height: auto" >
                <ui:insert name="content">

                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="150">

                <h1>footer</h1>

            </p:layoutUnit>


        </p:layout>


    </h:body>

</html>
