<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
    This is not a template client. This is just content that may be
    included by a template client so that when the content changes you do
    not need to change it in every client. Basically, this is global content.
-->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/facelets/tags">
    
    <p:panelGrid columns="1">
    <h:link outcome="/faces/index" value="Home"/>
    <h:link outcome="/faces/book/ViewBooks" value="Browse"/>
    <h:link outcome="/faces/PlaceOrder" value="Cart"/>
    <h:link outcome="/faces/ViewPlacedOrders" value="View All Placed Orders"/>
    <h:link outcome="/faces/BookMaintenance" value="Book Maintenance"/>
    </p:panelGrid>
    <sec:isAuthenticated>
                <h:link value="Login" outcome="index"/><br/>
                <h:link value="Create Account" outcome="index"/>
            </sec:isAuthenticated>
    

</ui:composition>
