<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <h:outputStylesheet library="css"  name="site.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top"><h:link outcome="/faces/testInsertOrder.xhtml" value="Cart"/> </ui:insert>
        </div>
        <div>
            <div id="left">
                <ui:insert name="left">This is the left from the template</ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">This is the content from the template</ui:insert>
            </div>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">This is the footer from the template</ui:insert>
        </div>

    </h:body>

</html>
