<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="content">

        <h:form id="form">
            <p:growl showDetail="true" showSummary="false" id="feedbackGrowl" life="1000"/>
            <p:dataTable  id="booksTable" var="orderItems" value="#{bookOrderItemsController.books}" paginator="true" rows="10" 
                          paginatorAlwaysVisible="false" rowSelectMode="add"  
                          style="width: 75%;" widgetVar="booksTable" rowKey="#{orderItems.orderItemsPK.orderId}">

                <f:facet name="header">
                    <p:outputPanel>

                        <h:outputText value="Search all fields"/>
                        <h:inputText id="globalFilter" onkeyup="booksTable.filter()"/>

                    </p:outputPanel>

                </f:facet>
                
                <p:column headerText="order #" filterBy="orderItemsPK.orderId" filterStyle="display:none" filterMatchMode="contains">
                    <p:outputLabel value="#{orderItems.orderItemsPK.orderId}" />
                </p:column>
                <!--<p:column headerText="Line #">
                    <p:outputLabel value="#{orderItems.orderItemsPK.orderItemId}"/>
                </p:column>
                <p:column filterBy="bookName" filterStyle="display:none" filterMatchMode="contains" headerText="Book Title">
                    <p:outputLabel value="#{orderItems.bookName}"/>
                </p:column>
                <p:column headerText="Book Quantity">
                    <p:outputLabel value="#{orderItems.quantity}"/>
                </p:column>-->


            </p:dataTable>
        </h:form>



    </ui:define>
</ui:composition>

