<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                >


    <ui:define name="content">

        <h:form>
            <p:dataTable id="cart" value="#{cartController.orderLineDetails}" var="lineItems" 
                         rowKey="#{lineItems.orderItemsPK}" editable="true" editMode="cell">

                <p:column headerText="Book Title">
                    <p:graphicImage styleClass="book-thumbnail" value="#{lineItems.book.bookImageUrl}"/>
                    <p:spacer width="50px"/>
                    <p:outputLabel value="#{lineItems.book.bookName}"/>
                </p:column>
                <p:column headerText="Book Price" >
                    
                    <p:outputLabel value="#{lineItems.book.bookPrice}">
                        <f:convertNumber type="currency" locale="en-us"/>
                    </p:outputLabel>
                </p:column>

                <p:column headerText="Quantity" width="10">
                   
                   <p:inputText id="modelInput" value="#{lineItems.quantity}" style="width:96%">
                       
                   </p:inputText>
                </p:column> 

            </p:dataTable>
            
            <p:commandButton value="Process Order" action="#{cartController.processCart()}" update="@form:cart"/>
            <!--
            
            <br/>
            <br/>
            
            <p:dataTable id="cart2" value="#{cartController.orderLineDetails}" var="lineItems2" 
                         rowKey="#{lineItems.orderItemsPK}" editable="true">

                <p:column headerText="Book Title">
                    <p:graphicImage styleClass="book-thumbnail" value="#{lineItems2.book.bookImageUrl}"/>
                    <p:spacer width="50px"/>
                    <p:outputLabel value="#{lineItems2.book.bookName}"/>
                </p:column>
                <p:column headerText="Book Price" >
                    
                    <p:outputLabel value="#{lineItems2.book.bookPrice}">
                        <f:convertNumber type="currency" locale="en-us"/>
                    </p:outputLabel>
                </p:column>

                <p:column headerText="Quantity" width="10">
                    <p:outputLabel style="text-align: right" value="#{lineItems2.quantity}"/>
                </p:column> 

            </p:dataTable>
            -->
            
        </h:form>
    </ui:define>



</ui:composition>
