<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    

    <ui:define name="content">
        <h:form>
            <p:dataTable id="cart" value="#{bookController.books}" var="books">

                <p:column headerText="Book Title">
                    <p:graphicImage styleClass="book-thumbnail" value="#{books.bookImageUrl}"/>
                    <p:spacer width="50px"/>
                    <p:outputLabel value="#{books.bookName}"/>
                </p:column>
                <p:column headerText="Book Price">
                    <p:outputLabel value="#{books.bookPrice}"/>
                </p:column>

                <p:column headerText="Quantity">
                    <p:inputText style="text-align: right"  value="1"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Process Order" action="#{cartController.processCart()}" update="@form:cart"/>
        </h:form>
        
    </ui:define>
</ui:composition>
