<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="150">
                <h1>Header</h1>
            </p:layoutUnit>
            <p:layoutUnit position="west" size="200">
                <h1>Left</h1>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <h:form>
                    <p:dataTable id="cart" value="#{cartController.booksInCart}" var="books">

                        <p:column headerText="Book Title">
                            <p:graphicImage styleClass="book-thumbnail" value="#{books.bookImageUrl}"/>
                            <p:spacer width="50px"/>
                            <p:outputLabel value="#{books.bookName}"/>
                        </p:column>
                        <p:column headerText="Book Price">
                            <p:outputLabel value="#{books.bookPrice}"/>
                        </p:column>

                        <p:column headerText="Quantity">
                            <p:inputText style="text-align: right" value="asdf"/>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Process Order" action="#{cartController.processCart()}" update="@form:cart"/>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit position="south" size="150">
                <h1>Footer</h1>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

