<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/mainTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">
    <ui:define name="content">
        <h:form>
            <p:dataTable paginator="true" rows="5" id="orders" value="#{ordersController.orders}" var="orders" 
                         rowKey="#{orders.orderId}" >
                <p:ajax event="rowToggle" update="orderDetails" listener="#{ordersController.handleRowExpansion}"/>

                <p:column headerText="Order Number" filterBy="orderId" filterMatchMode="contains">
                    <p:outputLabel value="#{orders.orderId}" />
                    <p:rowToggler /> 
                </p:column>
                <p:column headerText="Order Date">
                    <p:outputLabel value="#{orders.orderDate}">
                        <f:convertDateTime locale="en_US" dateStyle="short" type="date"/>
                    </p:outputLabel>
                </p:column>
                <p:rowExpansion>
                    <p:dataTable id="orderDetails"  value="#{ordersController.currentOrder.bookOrderItemsCollection}" 
                                 var="orderItems" emptyMessage="No Data" rowKey="#{orderItems.orderItemsPK}">
                        <p:column>
                            <p:outputLabel value="#{orderItems.book.bookName}"/>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{orderItems.quantity}"/>
                        </p:column>
                    </p:dataTable>
                </p:rowExpansion>
            </p:dataTable>



        </h:form>
    </ui:define>
</ui:composition>